/* load fonts */
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

/* css custom variables */
:root {
    --pale-blue: hsl(225, 100%, 94%);
    --bright-blue: hsl(245, 75%, 52%);
    --very-pale-blue: hsl(225, 100%, 98%);
    --desaturated-blue: hsl(224, 23%, 55%);
    --dark-blue: hsl(223, 47%, 23%);
    --white: #fff;
    --violet-blue: hsl(245, 83%, 68%);
    --violet-blue-transparent: hsl(245, 83%, 68%, 30%);
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--pale-blue) url('../images/pattern-background-mobile.svg') no-repeat top center;
    background-size: 100%;
    background-attachment: fixed;
}
.order-summary h1, .order-summary h2, .order-summary h3, 
.order-summary h4, .order-summary h5, .order-summary h6 {
    margin: 0;
    padding: 0;
} 

.order-summary {
    box-sizing: border-box;
    max-width: 330px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    background: var(--white) url('../images/illustration-hero.svg') no-repeat top center;
    background-size: 100%;
    padding: 195px 25px 30px 25px;
    font: 500 16px / 1.2em 'Red Hat Display', sans-serif;
    color: var(--desaturated-blue);
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 25px;
    -webkit-box-shadow: 0 30px 30px -10px var(--violet-blue-transparent);
    box-shadow: 0 30px 30px -10px var(--violet-blue-transparent);

}
.order-summary .header {
    font-weight: 900;
    color: var(--dark-blue);
    font-size: 145%;
}
.order-summary .text {
    padding: 0 5px;
    margin: 0;
    line-height: 1.5;
}
.order-summary .offer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: var(--very-pale-blue) url('../images/icon-music.svg') no-repeat 15px center;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    padding: 22px 15px 22px 82px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: left;
    font-size: 90%;
}
.order-summary .h {
    font-weight: 900;
    color: var(--dark-blue);
    font-size: 100%;
    margin-bottom: 3px;
}
.order-summary .price {

}
.order-summary .offer a {
    justify-self: end;
    align-self: center;
    font-weight: 900;
    font-size: 95%;
    text-decoration: underline;
    color: var(--bright-blue);
    transition: all 0.5s ease-in-out;
}
.order-summary .offer a:hover{
    color: var(--violet-blue);
}
.order-summary .button {
    display: block;
    box-sizing: border-box;
    padding: 18px 10px;
    line-height: 1em;
    text-decoration: none;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background-color: var(--bright-blue);
    color: var(--very-pale-blue);
    font-weight: 700;
    font-size: 95%;
    -webkit-box-shadow: 0 17px 20px 0 var(--violet-blue-transparent);
    box-shadow: 0 17px 20px 0 var(--violet-blue-transparent);
    transition: all 0.5s ease-in-out;
    letter-spacing: 0.5px;
}
.order-summary .button:hover {
    background-color: var(--violet-blue);
}
.order-summary .cancel {
    text-decoration: none;
    font-size: 90%;
    color: var(--desaturated-blue);
    font-weight: 900;
    transition: all 0.5s ease-in-out;
}
.order-summary .cancel:hover {
    color: var(--dark-blue);
}

@media only screen and (min-width: 768px) and (orientation: portrait), only screen and (min-width: 992px) {
    body {
        background: var(--pale-blue) url('../images/pattern-background-desktop.svg') repeat-x top center;
    }
    .order-summary {
        max-width: 450px;
        padding: 270px 50px 47px 50px;
        gap: 30px;
    }
    .order-summary .header {
        font-size: 175%;
    }
    .order-summary .offer {
        padding: 25px 25px 25px 92px;
        font-size: 100%;
        background-position: 25px center;
    }
    .order-summary .h {
        margin-bottom: 5px;
    }
    .order-summary .offer a {
        font-size: 90%;
    }
    .order-summary .cancel {
        margin-top: 3px;
        font-size: 100%;
    }
}